[Unit]
Description=Website V2 Service

[Service]
WorkingDirectory=/home/portfolio/v2/web-ui
ExecStart=/usr/local/bin/serve -s build -l 7111

[Install]
WantedBy=multi-user.target
